@import url("https://cdn.kernvalley.us/css/core-css/theme/default/index.css");

:root {
	--accent-color-light: #3BA435;
	--accent-color-dark: var(--accent-color-light);
	--title-font: "Libertine";

	--header-bg-full: url("https://i.imgur.com/nkTa4nN.jpg"); /* 1920 x 1080*/
	--header-bg-h: url("https://i.imgur.com/nkTa4nNh.jpg"); /* 1024 x 576 */
	--header-bg-l: url("https://i.imgur.com/nkTa4nNl.jpg"); /* 640 x 360 */
	--header-bg-m: url("https://i.imgur.com/nkTa4nNm.jpg"); /* 320 x 180 */

	--nav-height: 3.7rem;
	--header-height: 0;
	--footer-height: auto;
}
